In [3]:
import pandas as pd
df = pd.read_csv("E:\Gymcode\DA\DA - Datasets\GDPlist.csv", encoding='ISO-8859-1')
df.head(5)

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [4]:
# Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [10]:
#Tính giá trị lớn nhất và nhỏ nhất của GDP
print(f"Gia tri nho nhat cua GDP la {df['GDP (millions of US$)'].min()}")
print(f"Gia tri lon nhat cua GDP la {df['GDP (millions of US$)'].max()}")

Gia tri nho nhat cua GDP la 10600
Gia tri lon nhat cua GDP la 15094025

In [21]:
#Hãy cho biết xu hướng phân bố dữ liệu của GDP
df['GDP (millions of US$)'].describe()

count    1.250000e+02
mean     5.554278e+05
std      1.649266e+06
min      1.060000e+04
25%      2.574200e+04
50%      9.608900e+04
75%      3.332380e+05
max      1.509402e+07
Name: GDP (millions of US$), dtype: float64

In [34]:
#Hãy cho biết châu lục nào xuất hiện nhiều nhất?
print(f'Chau luc xuat hien nhieu nhat la: {df["Continent"].value_counts().idxmax()}')

Chau luc xuat hien nhieu nhat la: Europe

In [52]:
# Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất
sum_gdp = df.pivot_table(values='GDP (millions of US$)', index='Continent', aggfunc='sum')
sum_gdp.rename(columns={'GDP (millions of US$)':'Tong GDP'})

               Tong GDP
Continent
Africa          1820811
Asia           24425891
Europe         19139380
North America  18238447
Oceania         1662727
South America   4141217

In [53]:
avg_gdp = df.pivot_table(values='GDP (millions of US$)', index='Continent', aggfunc='mean')
avg_gdp.rename(columns={'GDP (millions of US$)':'AVG GDP'})

                    AVG GDP
Continent
Africa         6.278659e+04
Asia           6.784970e+05
Europe         5.172805e+05
North America  1.658041e+06
Oceania        5.542423e+05
South America  4.601352e+05

In [54]:
df1 = pd.concat([sum_gdp, avg_gdp], axis=1)
df1

               GDP (millions of US$)  GDP (millions of US$)
Continent
Africa                       1820811           6.278659e+04
Asia                        24425891           6.784970e+05
Europe                      19139380           5.172805e+05
North America               18238447           1.658041e+06
Oceania                      1662727           5.542423e+05
South America                4141217           4.601352e+05