In [28]:
import pandas as pd
import numpy as np
df = pd.read_csv("OnlineRetail.csv", encoding="ISO-8859-1") #UFF-8

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [25]:
country = df["Country"].value_counts().count()
country1 = df.Country.unique()
print ("số lượng quốc gia công ty bán hàng: " + str(country1.size))
print(f"Công ty bán ở: {country} quốc gia")

số lượng quốc gia công ty bán hàng: 38
Công ty bán ở: 38 quốc gia

In [17]:
# Thêm cột tổng thành tiền
df["TotalPrice"] = df["Quantity"] * df["UnitPrice"]
df.head(5)
total_value_invoice = df["TotalPrice"].sum()
print("Tổng giá trị đơn hàng là: " + str(total_value_invoice))

Tổng giá trị đơn hàng là: 9747747.933999998

In [19]:
qtt_prd = df.groupby(["StockCode","Description"])["UnitPrice"].sum().sort_values(ascending=False)
qtt_prd.head(10)

StockCode     Description
AMAZONFEE     AMAZON FEE                           249042.680
M             Manual                               214448.410
DOT           DOTCOM POSTAGE                       206252.060
POST          POSTAGE                               46388.470
22423         REGENCY CAKESTAND 3 TIER              30360.610
47566         PARTY BUNTING                          9979.620
22720         SET OF 3 CAKE TINS PANTRY DESIGN       8518.680
CRUK          CRUK Commission                        7933.430
85066         CREAM SWEETHEART MINI CHEST            7876.360
BANK CHARGES  Bank Charges                           7505.641
Name: UnitPrice, dtype: float64

In [26]:
qtt_prd = df.groupby(["StockCode","Description"])["TotalPrice"].sum().sort_values(ascending=False)
qtt_prd.head(30)

StockCode  Description
DOT        DOTCOM POSTAGE                        206245.48
22423      REGENCY CAKESTAND 3 TIER              164762.19
47566      PARTY BUNTING                          98302.98
85123A     WHITE HANGING HEART T-LIGHT HOLDER     97715.99
85099B     JUMBO BAG RED RETROSPOT                92356.03
23084      RABBIT NIGHT LIGHT                     66756.59
POST       POSTAGE                                66230.64
22086      PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
84879      ASSORTED COLOUR BIRD ORNAMENT          58959.73
79321      CHILLI LIGHTS                          53768.06
23298      SPOTTY BUNTING                         42065.32
22386      JUMBO BAG PINK POLKADOT                41619.66
21137      BLACK RECORD COVER FRAME               40596.96
22502      PICNIC BASKET WICKER 60 PIECES         39619.50
22720      SET OF 3 CAKE TINS PANTRY DESIGN       37413.44
23284      DOORMAT KEEP CALM AND COME IN          36565.39
22960      JAM MAKING SET WITH JARS               36116.09
82484      WOOD BLACK BOARD ANT WHITE FINISH      35859.27
20725      LUNCH BAG RED RETROSPOT                34897.31
22197      POPCORN HOLDER                         33969.46
22114      HOT WATER BOTTLE TEA AND SYMPATHY      32692.49
22178      VICTORIAN GLASS HANGING T-LIGHT        32549.57
22112      CHOCOLATE HOT WATER BOTTLE             32317.30
85099F     JUMBO BAG STRAWBERRY                   32121.98
22910      PAPER CHAIN KIT VINTAGE CHRISTMAS      31941.89
22469      HEART OF WICKER SMALL                  31899.85
23245      SET OF 3 REGENCY CAKE TINS             30756.45
22727      ALARM CLOCK BAKELIKE RED               30423.62
21931      JUMBO STORAGE BAG SUKI                 30167.79
22470      HEART OF WICKER LARGE                  29949.91
Name: TotalPrice, dtype: float64

In [22]:
quantity_product = df.groupby(['StockCode', 'Description'])['Quantity'].sum().sort_values(ascending= False)
quantity_product.head(10)

StockCode  Description
84077      WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
85099B     JUMBO BAG RED RETROSPOT               47363
84879      ASSORTED COLOUR BIRD ORNAMENT         36381
22197      POPCORN HOLDER                        36334
21212      PACK OF 72 RETROSPOT CAKE CASES       36039
85123A     WHITE HANGING HEART T-LIGHT HOLDER    35025
23084      RABBIT NIGHT LIGHT                    30680
22492      MINI PAINT SET VINTAGE                26437
22616      PACK OF 12 LONDON TISSUES             26315
21977      PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

In [29]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
TotalPrice          0
dtype: int64

In [34]:
df1 = df.dropna()
df1.shape

(406829, 9)

In [38]:
df1_status = df1["TotalPrice"].describe()
df1_status

count    406829.000000
mean         20.401854
std         427.591718
min     -168469.600000
25%           4.200000
50%          11.100000
75%          19.500000
max      168469.600000
Name: TotalPrice, dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

# Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail1.csv

In [8]:
df2 = df[["Description", "Quantity"]]
df2.to_csv("OnlineRetail1.csv")

# Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail2.xlsx

In [10]:
df3 = df[:1000]
df3.to_excel("OnlineRetail2.xlsx")

# Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail3.h5

In [11]:
df4 = df[df["Quantity"]>10]
df4.to_hdf("OnlineRetail3.h5", key='s')

ImportError: Missing optional dependency 'pytables'.  Use pip or conda to install pytables.

# Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json

In [18]:
df.iloc[1000:2001,3:6]

      Quantity      InvoiceDate  UnitPrice
1000         1  12/1/2010 12:43       1.25
1001         1  12/1/2010 12:43       1.25
1002         1  12/1/2010 12:43       1.25
1003         1  12/1/2010 12:43       1.25
1004        12  12/1/2010 12:43       0.29
...        ...              ...        ...
1996         1  12/1/2010 14:34       2.95
1997         3  12/1/2010 14:34       1.65
1998         1  12/1/2010 14:34       4.95
1999         1  12/1/2010 14:34       2.95
2000         2  12/1/2010 14:34       1.25

[1001 rows x 3 columns]

# Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html

In [33]:
df5 = df.loc[df["InvoiceNo"] == "536365"]
df5.to_html("")

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom