In [3]:
import pandas as pd
df_gdp = pd.read_csv("GDPlist.csv", encoding="ISO-8859-1")
df_gdp.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

# Bộ dữ liệu chứa bao nhiêu dòng, bao nhiêu cột?
# Thang đo tương ứng của các thuộc tính được lưu trữ?

In [4]:
df_gdp.info()
# Bộ dữ liệu có 124 hàng và 3 cột
# Thang đo: Country: object, Continent: Object, GDP: int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

# GDP của các quốc gia có đồng đều không?

In [14]:
df_country_sum = df_gdp.groupby("Country")["GDP (millions of US$)"].sum()
df_country_sum
# GDP các quốc gia không đồng đều nhau

Country
 Afghanistan     18181
 Albania         12847
 Algeria        190709
 Angola         100948
 Argentina      447644
                 ...
 Uzbekistan      45353
 Venezuela      315841
 Vietnam        122722
 Yemen           33675
 Zambia          19206
Name: GDP (millions of US$), Length: 125, dtype: int64

# Mỗi châu lục có bao nhiêu quốc gia nằm trong bảng dữ liệu

In [13]:
df_country_continent = df_gdp.groupby("Continent")["Country"].count()
df_country_continent

Continent
Africa           29
Asia             36
Europe           37
North America    11
Oceania           3
South America     9
Name: Country, dtype: int64

# Tổng GPD của các châu lục?

In [15]:
df_continent_sum = df_gdp.groupby("Continent")["GDP (millions of US$)"].sum()
df_continent_sum

Continent
Africa            1820811
Asia             24425891
Europe           19139380
North America    18238447
Oceania           1662727
South America     4141217
Name: GDP (millions of US$), dtype: int64

# Top 10 quốc gia có GDP cao nhất

In [17]:
df_country_sum.sort_values(ascending=False).head(10)

Country
 United States     15094025
 China              7298147
 Japan              5869471
 Germany            3577031
 France             2776324
 Brazil             2492908
 United Kingdom     2417570
 Italy              2198730
 Russia             1850401
 Canada             1736869
Name: GDP (millions of US$), dtype: int64